<div data-id={{post.id}} class="post">
  <div class="post-header">
    <h2 class="post-title">{{post.title}}</h2>
    <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
  </div>
  <p class="post-content">{{post.content}}</p>
</div>
{{#if ownPost}}
  <button class="edit-post">Edit post</button>
  <button class="delete-post">Delete post</button>
{{/if}}
{{#if loggedIn}}
  <div class="add-comment-container">
    <form class="add-comment">
      <textarea
        name="comment-field"
        class="comment-field"
        placeholder="Leave a comment..."
        required
      ></textarea>
      <button type="submit" class="submit-comment">Submit comment</button>
    </form>
  </div>
{{else}}

{{/if}}
<h2 class="comments-header">Comments</h2>
<div class="login-warning">
  <p>Only logged in users may comment on posts. Click
    <a href="/login">here</a>
    to log in.</p>
</div>
{{#each post.comments as |comment|}}
  <div class="containter">
    <div class="comments">
      <div class="comment">
        <p class="comment-content">{{comment.content}}</p>
        <div class="commenter">
          <p class="commenter">Posted by
            {{comment.user.username}}
            on
            {{comment.createdAt}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<script src="/js/post.js"></script>