<div class="post">
  <div class="post-header">
    <h2>{{post.title}}</h2>
    <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
  </div>
  <p>{{post.content}}</p>
</div>
{{#each post.comments as |comment|}}
  <div class="comment">
    <p>{{comment.content}}</p>
    <p>Posted by {{comment.user.username}} on {{comment.createdAt}}</p>
  </div>
{{/each}}